<style>

  body{
    background-color: blue;
  }

  hr{
    background-color: transparent;
    width: 7%;

    border-style: dotted none none none;
    border-top-color: grey;
    border-top-width: 10px;


  }

  h1{
      color: #66bfbf;
  }

  h3{

      color: #66bfbf;
  }
</style>
