body{
  font-family: Montserrat;
}

#title{
  background-color: #ff4c68 ;
  color: white;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2{

}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

p{
  color: #8f8f8f;
  margin-left: 10%;
  margin-right: 10%;
}

/* Navigatoin Bar */
.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding:0 18px
}
.nav-link{
  font-size: 1.5rem;
  font-family: Montserrat-light;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;

}
.download-button{
  margin: 3% 5%;
}

/* Title image */
.title-image{
  width:60%;
  /* text-align: center; not working */
  margin-left: 60px;
  margin-top: 30px;
}

.rotated{
  transform: rotate(30deg);
}

#features{
  padding: 5% 4%;
}

.feature-block{
  padding: 2% 1%;
  text-align: center;
}

.fa-features {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.fa-features:hover{
  color: #ff4c68;
}

/* Testimonials */
#testimonials{
  padding: 5% 15%;
}
