<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO List</title>
  </head>
  <body>

    <h1> <%= typeOfDay %> </h1>


    <form class="" action="/" method="post">
        <h3>Add another item to the list:</h3>
        <input type="text" name="listItem" placeholder="List Item" required autofocus>
        <button type="submit">Add item</button>

    </form>



  </body>
</html>
