<%-include("partials/header") -%>

<h1>Compose</h1>

<form class="blogText" action="/compose" method="post">

    <input type="text" name="blogItem" placeholder="Blog Item" autocomplete="off" autofocus="on">
    <button type="submit" name="blogPost" >Publish</button>

</form>


<%-include("partials/footer")  -%>
