body{
  margin: 0;
}

h1{
  border: 0;
}
.top-container{
  background-color: #d3e0dc;

  padding: 20px;
  
}

.middle-container{
  width: 200px;
  height: 200px;
  background-color: red;



}


.bottom-container{
  width: 200px;
  height: 200px;
  background-color: yellow;

}
